<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xkcoding.scaffold.mapper.SysConfigMapper">
	<resultMap id="BaseResultMap" type="com.xkcoding.scaffold.model.SysConfig">
		<id column="id" jdbcType="INTEGER" property="id"/>
		<result column="config_name" jdbcType="VARCHAR" property="configName"/>
		<result column="config_key" jdbcType="VARCHAR" property="configKey"/>
		<result column="config_value" jdbcType="VARCHAR" property="configValue"/>
		<result column="config_type" jdbcType="INTEGER" property="configType"/>
		<result column="create_by" jdbcType="VARCHAR" property="createBy"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
		<result column="remark" jdbcType="VARCHAR" property="remark"/>
	</resultMap>
</mapper>