<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xkcoding.scaffold.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.xkcoding.scaffold.model.SysMenu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="menu_type" jdbcType="INTEGER" property="menuType"/>
        <result column="visible" jdbcType="INTEGER" property="visible"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <select id="selectSysMenuByRoleList" resultType="com.xkcoding.scaffold.model.SysMenu">
        SELECT * FROM sys_menu
        <where>
            <if test="roleIdList != null and roleIdList.size() > 0">
                id IN
                <foreach collection="roleIdList" index="index" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY id
    </select>

    <select id="selectSysMenuList" resultType="com.xkcoding.scaffold.model.dto.SysMenuDTO">
        SELECT
        t.`id`,
        t.`menu_name`,
        t.`parent_id`,
        t.`order_num`,
        t.`url`,
        t.`menu_type`,
        t.`visible`,
        t.`path`,
        t.`component`,
        t.`icon`,
        t.`create_by`,
        t.`create_time`,
        t.`update_by`,
        t.`update_time`,
        t.`remark`,
        GROUP_CONCAT( t.role_id ) AS role_id,
        GROUP_CONCAT( t.role_name ) AS role_name,
        GROUP_CONCAT( t.role_key ) AS role_key
        FROM
        (
        SELECT
        sys_menu.`id`,
        sys_menu.`menu_name`,
        sys_menu.`parent_id`,
        sys_menu.`order_num`,
        sys_menu.`url`,
        sys_menu.`menu_type`,
        sys_menu.`visible`,
        sys_menu.`path`,
        sys_menu.`component`,
        sys_menu.`icon`,
        sys_menu.`create_by`,
        sys_menu.`create_time`,
        sys_menu.`update_by`,
        sys_menu.`update_time`,
        sys_menu.`remark`,
        sys_role.`id` AS role_id,
        sys_role.`role_name`,
        sys_role.`role_key`
        FROM
        sys_menu
        LEFT JOIN sys_role_menu ON sys_menu.`id` = sys_role_menu.`menu_id`
        LEFT JOIN sys_role ON sys_role_menu.`role_id` = sys_role.`id`
        <where>
            <if test="visible != null">
                sys_menu.`visible` = #{visible}
            </if>
        </where>
        ) t
        GROUP BY
        id
    </select>
</mapper>